<section class="container signin">
  <form>
    <h3>Sign in</h3>
    <hr />
    <div class="form-group">
      <label for="email">Your Email</label>
      <input type="email" class="form-control" id="email" placeholder="email@example.com" />
    </div>
    <div class="form-group">
      <label for="password">Your Password</label>
      <input type="password" class="form-control" id="password" />
    </div>
    <button class="btn btn-primary" (click)="go('/list')">Confirm identity</button>
  </form>
  <hr />
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum bibendum augue id efficitur malesuada. Nulla nec dolor vitae quam maximus rhoncus ut quis purus.
  </p>
</section>
