.place-avatar {
  background-color: #e1e2e1;
  border-radius: 50%;
  color: #eee;
  display: block;
  font-weight: 600;
  height: 32px;
  line-height: 32px;
  text-align: center;
  width: 32px;
}

.category {
  margin-bottom: 20px;
}

.category > .row {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

.category h4 {
  margin: 0;
}

.category h6 {
  font-size: 17px;
  font-weight: 600;
  margin: 0;
}

.category .sub {
  color: #3f3f3f;
  font-size: 13px;
  font-weight: 300;
}
