<section class="container view-user-place">
  <span class="go-back" (click)="go('/place')">
    <i class="fa fa-arrow-circle-left fa-lg"></i> Back to the list
  </span>
  <div class="row">
    <div class="col-5">
      <img class="img-reponsive img-thumbnail" src="./assets/images/factory.jpg" />
    </div>
    <div class="col-7">
      <h2>Factory Grill</h2>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-9">
      <h4>Marco Ulpio Trajano</h4>
    </div>
    <div class="col-3">
      <span class="people-avatar">
        <img class="img-responsive" src="./assets/images/people/01.jpg" />
      </span>
    </div>
  </div>
  <p>
    Duis posuere pellentesque elementum. Aliquam tincidunt in justo in laoreet. Mauris mattis, metus eget aliquet dictum, ipsum tortor malesuada tortor, in facilisis nunc metus ut leo.
  </p>
  <span class="go-back" (click)="go('/place')">
    <i class="fa fa-arrow-circle-left fa-lg"></i> Back to the list
  </span>
  <hr />
  <div class="row">
    <div class="col-6">
      <img class="img-responsive img-thumbnail" src="./assets/images/factory/01.jpg" />
    </div>
    <div class="col-6">
      <img class="img-responsive img-thumbnail" src="./assets/images/factory/02.jpg" />
    </div>
    <div class="col-6">
      <img class="img-responsive img-thumbnail" src="./assets/images/factory/04.jpg" />
    </div>
    <div class="col-6">
      <img class="img-responsive img-thumbnail" src="./assets/images/factory/01.jpg" />
    </div>
  </div>
  <hr />
  <h4>Other places visited</h4>
  <br />
  <div class="row other-places" (click)="go('/place')">
    <div class="col-2">
      <span class="place-avatar" style="background-color: #004d40">C</span>
    </div>
    <div class="col-10">
      <h6>Casa de Campo</h6>
      <span class="sub">Lorem ipsum dolor sit amet consectetur</span>
    </div>
  </div>
  <div class="row other-places" (click)="go('/place')">
    <div class="col-2">
      <span class="place-avatar" style="background-color: #33691e">C</span>
    </div>
    <div class="col-10">
      <h6>El Padrino</h6>
      <span class="sub">Lorem ipsum dolor sit amet consectetur</span>
    </div>
  </div>
  <div class="row other-places" (click)="go('/place')">
    <div class="col-2">
      <span class="place-avatar" style="background-color: #827717">C</span>
    </div>
    <div class="col-10">
      <h6>Pickles Wings Tenders</h6>
      <span class="sub">Lorem ipsum dolor sit amet consectetur</span>
    </div>
  </div>
  <span class="go-back" (click)="go('/place')">
    <i class="fa fa-arrow-circle-left fa-lg"></i> Back to the list
  </span>
</section>
